<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book, .book td {
            border: 1px solid lightgray;
            padding: 5px;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<h1>Список книг</h1>
<div>
        <input type="submit" value="Добавить книгу" onclick='location.href="/book/insertbook"'>
        <input type="submit" value="Список авторов" onclick='location.href="/author"'>
</div>
<table class="book" id="listbooks">
    <thead>
    <tr>
        <th>ID Книги</th>
        <th>Название Книги</th>
        <th>Имя Автора</th>
        <th>Жанры</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="book in books">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author.name }}</td>
        <td>{{ book.genreList }}</td>
        <td><a v-bind:href="'/comment/book?bookname=' + book.name">Комментарии</a></td>
        <td>
            <button type="submit" v-on:click="deleteData(book)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    fetch('/api/book')
    .then(response => response.json())
    .then(books => {
        new Vue({
            el: '#listbooks',
            data: {
                books: books
            },
            methods: {
            deleteData: function(book) { fetch('/api/book', {
            method: 'DELETE',
            body: JSON.stringify(book),
            headers: { "Content-type": "application/json; charset=utf-8" }
            }).then(function(response) {
            if (response.status !==200) {
            console.log('Ooops, something went wrong');
            return; }
            else { location.href = "/book/del"}
            })
            }
            }
        })
    });


</script>
</body>
</html>