<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Комментарии</title>
</head>
<body>
<h1>Удаление комментария прошло успешно</h1>
<span th:text="${result}">Комментарий к книге Война и Мир успешно удалён</span>
<div>
    <div>
        <input type="submit" value="Вернуться к списку книг" onclick='location.href="/book"'>
    </div>
    <input type="submit" value="Вернуться к cписоку комментариев книги"
           th:onclick="|location.href='@{/comment/book(bookname=${bookname})}'|">
</div>
</body>
</html>