<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PersonDB" class="ru.otus.database.PersonDBImpl"/>
    <bean id="QuestionBase" class="ru.otus.service.QuestionBase"/>

    <bean id="PersonService1" class="ru.otus.service.PersonServiceGet">
        <constructor-arg name="db" ref="PersonDB"/>
    </bean>

    <bean id="PersonService2" class="ru.otus.service.ServicePollImpl">
        <constructor-arg name="base" ref="QuestionBase"/>
    </bean>

</beans>
