<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .author, .author td {
            border: 1px solid lightgray;
            padding: 5px;
        }
        .logout {
            padding-bottom:20px;
        }

    </style>
</head>
<body>
<h1>Список авторов</h1>
<div class="logout">
    <a th:href="@{logout}">Разлогиниться</a>
</div>
<div>
    <input type="submit" th:if="${adminmode}" value="Добавить автора" onclick='location.href="/author/insertauthor"'>
    <input type="submit" value="Список книг" onclick='location.href="/book"'>
    <input type="submit" th:if="${adminmode}" value="Перейти в H2 Web" onclick='location.href="/h2-console"'>
</div>
<table class="author">
    <thead>
    <tr>
        <th>ID Автора</th>
        <th>Имя Автора</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${author}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td th:if="${adminmode}">
            <form th:action="@{/author/del}" th:object="${author}" method="post">
                <input type="hidden" name="id" th:value="*{id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
